<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Rock, Paper, Scissors Homepage</title>
    </head>
    <body>
        <div class="container">
        <h1> Rock, Paper, Scissors</h1>
        <p> Play against your friends or the computer! Choose from the options below: </p>

        <form action="/single_player_mode">
            <button type="submit" class="btn-success">Play Computer</button>
        </form>
        <form action="/two_player_mode">
            <button type="submit" class="btn-success">Play Your Friend(OR Enemy)</button>
        </form>
    </body>
</html>
