<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Winner Chicken Dinner!</title>
    </head>
    <body>
        <div class="container">
            <h1>The winner is...</h1>
            {% if results == 'Player 2' %}
            <h2> Computer </h2>
            {% else %}
            <h2> {{ results }} </h2>
            {% endif %}
            <a href="/single_player_mode"> <button type="submit" class="btn-success">Play Again?</button></a>
            <br>
            <br>
            <a href="/"> <button type="submit" class="btn-success">Homepage</button></a>
        </div>
    </body>
</html>
