<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Winner Chicken Dinner!</title>
    </head>
    <body>
        <div class="container">
            <h1>The winner is...</h1>
            <h2> {{ results }} </h2>

            <a href="/"> <button type="submit" class="btn-success">Play Again?</button></a>
        </div> 
    </body>
</html>
